<!-- Tab Buttons -->
<div class="sticky top-0 row gap-2 p-6 bg-page border-b border-line">
    <x-logo></x-logo>
    <button @click="tab = 'core'" :class="tab === 'core' ? 'selected' : ''">Core</button>
    <button @click="tab = 'appwrite'" :class="tab === 'appwrite' ? 'selected' : ''">Appwrite</button>
    <button @click="tab = 'local-data'" :class="tab === 'local-data' ? 'selected' : ''">Local Data</button>
    <button @click="tab = 'utilities'" :class="tab === 'utilities' ? 'selected' : ''">Utilities</button>
    <x-options class="ms-auto"></x-options>
</div>